    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="flattr:id" content="8g3w2e">
    <link rel="me" href="https://social.semiotic.systems/@rjbs" title="Mastodon (boring)"</link>
    <link rel="me" href="https://oulipo.social/@rjbs" title="Mastodon (lipogrammatic)"</link>

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% elsif page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html | normalize_whitespace }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html | normalize_whitespace }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.image %}
    <meta property="og:image" content="{{ page.image }}" />
    <meta name="twitter:card" content="summary_large_image" />
    {% elsif page.collection == 'talks' %}
    {% assign talk_dir = page.path | remove: '_talks/' | remove: 'index.md' %}
    <meta property="og:image" content="{{ site.url }}/talks/{{ talk_dir }}preview.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    {% else %}
    <!-- <meta property="og:image" content="/assets/title-card.png" /> -->
    {% endif %}

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% if page.tags %}
      {% assign tagmoji = "" %}
      {% assign tags = page.tags | sort %}
      {% for tag in page.tags %}
        {% if site.data.tagmoji[tag] %}
          {% assign tagmoji = tagmoji | append: site.data.tagmoji[tag] %}
        {% endif %}
      {% endfor %}
      {% if tagmoji %}
    <meta name="twitter:label1" value="Relevant Emoji" />
    <meta name="twitter:data1"  value="{{ tagmoji }}" />
      {% endif %}
    {% endif %}
