---
layout: default
title: My Journal
---

<div class="posts">
  {% for post in paginator.posts %}
    {% assign tags = post.tags | sort %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        <b>{{ post.date | date: "%B %e, %Y" }}</b>
        {% for tag in tags %}{% if site.data.tagmoji[tag] %}<span title="{{ tag }}">&nbsp;{{ site.data.tagmoji[tag] }}</span>{% endif %}{% endfor %}
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more →</a>
      </div>
    </article>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">⬅ Prev</a>
    {% else %}
      <span>⬅ Prev</span>
    {% endif %}
    ┃

    {% assign min_page = paginator.page | minus: 5 %}
    {% if min_page < 2 %}{% assign min_page = 2 %}{% endif %}
    {% assign max_page = paginator.page | plus:  5 %}
    {% assign max_prev = paginator.total_pages | minus: 1 %}
    {% if max_page >= paginator.total_pages %}{% assign max_page = max_prev %}{% endif %}

    <!-- min: {{ min_page }} -->
    <!-- max: {{ max_page }} -->

    {% if paginator.page == 1 %}
      <b>1</b>
    {% else %}
      <a href="{{ '/blog/' | relative_url }}">1</a>
    {% endif %}

    {% unless min_page == 2 %}…{% endunless %}

    {% for page in (min_page..max_page) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% unless max_page == max_prev %}…{% endunless %}

    {% if paginator.page == paginator.total_pages %}
      <b>{{ paginator.total_pages }}</b>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}">{{ paginator.total_pages }}</a>
    {% endif %}

    ┃
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next ⮕</a>
    {% else %}
      <span>Next ⮕</span>
    {% endif %}
  </div>
  {% endif %}

</div>
