---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
</article>

<div class="post-tags">
  {% if post %}
    {% assign tags = post.tags | sort %}
  {% else %}
    {% assign tags = page.tags | sort %}
  {% endif %}
  {% for tag in tags %}
    {% if site.data.tagmoji[tag] %}{{ site.data.tagmoji[tag] }}{% else %}🏷{% endif %}
    <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
    {% unless forloop.last %}<br>{% endunless %}
  {% endfor %}
</div>

