---
layout: default
---

{% assign talk_dir = page.path | remove: '_talks/' | remove: 'index.md' %}
{% if page.image %}
  <img class="talk-page-image" src="{{ page.image }}" alt="{{ page.title }}">
{% else %}
  {% assign image_path = '/talks/' | append: talk_dir | append: "preview.jpg" %}
  <object class="talk-page-image" data="{{ image_path }}">
  </object>
{% endif %}

<article class="talk-page">
  <div class="post-header">
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
      <span class="date">First given: {{ page.date | date: "%B %-d, %Y" }}</span>
      {% assign tags = page.tags | sort %}
      {% for tag in tags %}
        <span class="post-tag">{% if site.data.tagmoji[tag] %}{{ site.data.tagmoji[tag] }}{% else %}🏷{% endif %}<a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a></span>
      {% endfor %}
    </div>
  </div>

  {% if page.description %}
    <p class="talk-page-description">{{ page.description }}</p>
  {% endif %}

  {% if page.urls.size > 0 %}
    <div class="talk-page-links">
      {% for link in page.urls %}
        <a href="{{ link.url }}">{{ link.label }}</a>
      {% endfor %}
    </div>
  {% endif %}

  {% if content != "" %}
    <div class="entry">
      {{ content }}
    </div>
  {% endif %}
</article>
