---
layout: default
---

{% assign posts_here = site.posts | where: "location", page.slug | sort: "date" | reverse %}

<article class="page travel-place">

  <h1>{{ page.title }}</h1>

  <div class="travel-place-head">
    {% include map.html places=site.locations only=page.slug %}
    <div class="travel-place-text">
      {{ content }}
    </div>
  </div>

  <div class="entry">
    {% if page.links or posts_here.size > 0 %}
    <ul class="tag-posts">
      {% for link in page.links %}
      <li>
        <a class="tag-post-title" href="{{ link.url }}">{{ link.text | default: link.url }}</a>
      </li>
      {% endfor %}
      {% for post in posts_here %}
      <li>
        <span class="tag-post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="tag-post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <p><a href="{{ site.baseurl }}/travel/">&larr; all travels</a></p>
  </div>
</article>
